body {
	padding: 18px 0 0 18px;
	width: 710px;
	color: rgb(83, 72, 72);
}

ul {
	list-style: none;
}

.header {
	height: 120px;
	padding-left: 12px;
	padding-top: 6px;
	color: rgb(32, 21, 21);
	background-color: rgb(81, 165, 186);
}

.header > h1 {
	margin-bottom: 0;
	margin-top: 18px;
}

.header > p {
	margin-top: 18px;
}

.info {
	background-color: rgba(255, 240, 158, 0.55);
	margin-top: 12px;
	padding-left: 12px;
	padding-top: 12px;
}

.item > a{
	text-decoration: none;
	color: rgb(32, 21, 21);
	font-weight: bold;
}

.item > p {
	margin-left: 12px;
	margin-top: 12px;
}